style: defaultWithAlign
danglingParentheses: true
align.openParenCallSite: false
spaces {
  inImportCurlyBraces: true
}

rewriteTokens {
  "->": "→"
  "=>": "⇒"
}

rewrite.rules = [SortImports, RedundantBraces]
